// css for ongoing report
.report-title {
  font-weight: bold;
}
.report-In-progress {
  font-weight: bold;
  padding: 5px;
  background-color: rgb(101, 241, 101);
  border-radius: 5px;
}
.ticket-des {
  padding: 0px;
  margin: 0px;
}

// css for Historical report
