.setting-navigation-btn {
  display: flex;
  border-bottom: 2px solid rgba(3, 100, 180, 0.747);
  .navigation-btn {
    box-shadow: rgba(33, 35, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-style: normal;
    color: gray;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* max-height: 40px; */
  }
  .active-btn {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.5px;
    opacity: 1;
    background: #503998;
    color: #ffff;
  }
}

// issue detail page
.custom-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.customer-report {
  margin-top: 10px;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  background-color: #503998;
  color: #fff;
}

.report-col {
  display: flex;
  align-items: center;
}
.report-status {
  border-radius: 5px;
  color: #fff;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;

  &.green {
    background-color: green;
  }

  &.orange {
    background-color: orange;
  }

  &.red {
    background-color: red;
  }
  &.not-created {
    background-color: #d9e7eb;
    color: black !important;
  }
}

// loader css

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
